.dev-icons {
	padding-left: 0;
	list-style: none;
	font-size: 3rem;
	margin-bottom: 0px;
	margin-top: 0px;
	text-align: center;
}

.software-skill-inline {
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 20px;
}

.software-skill-inline a > svg {
	filter: grayscale(100%);
	transition: 0.3s ease-in;
}

.software-skill-inline:hover a > svg {
	filter: none;
	transition: 0.3s ease-in;
}
